

#competitor-portfolios {
	margin-top: 3%;
}

#profile-picture {
	float: left;
	margin-left: 20%;
	margin-right: 5%;
}

.portfolio {
	text-align: right;
}

#stock-chart {
	margin-top: 10%;
	margin-left: 12%
}

.trade-order {
	margin-left: 35%;
	margin-top: 2%;
	text-align: right;
}

.trade-button {
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 4%;
	color: black;
	font-weight: bold;
}

#buy-button {
	background-color: green;
	margin-left: 53%;
}

#sell-button {
	background-color: red;
}