{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container gameplay" ng-view>
    <div class="row">
        <div class="col-md-6" id="competitor-portfolios">
            <!-- TODO: This will be replaced by the users profile picture -->
            <a href="{% url 'profile' %}"><img class="img-responsive profile-picture" src="http://placehold.it/100x100" alt="profile picture"></a>
            <!-- TODO: This should dynamically update as user places trades -->
            <table class="portfolio">
                <tr>
                    <td class="portfolio-label">Cash:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="cash" readonly="readonly" value=100000.00></span>
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Margin:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="margin" readonly="readonly" value=0.00></span>
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Stock:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="stock" readonly="readonly" min=0 value=0.00></span>
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Total Value:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="total" readonly="readonly" value=100000.00></span>
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Total Return:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="returns" readonly="readonly" value=0></span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="flot-placeholder" style="width:850px;height:350px"></div>
        <div class="row">
            <table class="trade-order">
                <tr>
                    <td class="portfolio-label">Shares:</td>
                    <td>
                        <input type="number" id="shares" value=1000 onchange="calcProceeds()">
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Price:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="price" readonly="readonly" value=25.00></span>
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Commission:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="commission" readonly="readonly" value=15.00></span>
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Proceeds:</td>
                    <td>
                        <span>$<input type="number" class="portfolio-value" id="proceeds" readonly="readonly" value=25000.00></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <form method="POST" action="">
                {% csrf_token %}
                <button type="button" class="trade-button" id="buy-button" onclick="buy()">BUY</button>
            </form>
        </div>
        <div class="col-md-6">
            <form method="POST" action="">
                {% csrf_token %}
                <button type="button" class="trade-button" id="sell-button" onclick="sell()">SELL</button>
            </form>
        </div>
        <div class="row">
            <form method="PUT" action="">
                {% csrf_token %}
                <button class="btn btn-lg btn-primary" id="submit-game-button" type="button">Submit Game</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}