{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container gameplay" ng-view>
    <form method="POST" action="{% url 'play' %}">
        {% csrf_token %}
        <div class="col-md-6" id="portfolio">
            <table class="portfolio">
                <tr>
                    <td class="portfolio-label"><label for="cash">Cash:</td>
                    <td>
                        {{form.cash}}
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Margin:</td>
                    <td>
                        {{form.margin}}
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Total Shares:</td>
                    <td>
                        {{form.shares}}
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Stock Value:</td>
                    <td>
                       {{form.stock_value}}
                    </td>
                </tr>
                <tr>
                    <td class="portfolio-label">Net Income:</td>
                    <td>
                        {{form.net_income}}
                    </td>
                </tr>
            </table>
        </div>
        <input type="submit" class="profile-button pull-right" id="profile-button" value="Profile">
    </form>
    <div class="row">
        <button type="button" class="pull-right" id="reset-button" onclick="resetPortfolio()">Reset Portfolio</button>
    </div>
    <div class="row" id="placeholder" style="width:850px;height:350px"></div>
    <div class="row">
        <table class="trade-order">
            <tr>
                <td class="portfolio-label">Shares:</td>
                <td>
                    <input type="number" id="shares" value=1000 onchange="calcProceeds()">
                </td>
            </tr>
            <tr>
                <td class="portfolio-label">Price:</td>
                <td>
                    <span>$<input type="number" class="portfolio-value" id="price" readonly="readonly"value=50.00 onchange="calcProceeds()"></span>
                </td>
            </tr>
            <tr>
                <td class="portfolio-label">Proceeds:</td>
                <td>
                    <span>$<input type="number" class="portfolio-value" id="proceeds" readonly="readonly" value=25000.00 onchange="calcProceeds()"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <button type="button" class="trade-button" id="buy-button" onclick="buy()">BUY</button>
    </div>
    <div class="col-md-6">
        <button type="button" class="trade-button" id="sell-button" onclick="sell()">SELL</button>
    </div>
</div>
{% endblock %}