{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="profile-picture" id="profile-page-picture" src="http://placehold.it/100x80" alt="profile picture">
            <p id="record">Record: 2-1</p>
        </div>
        <div class="col-sm-3 col-xs-4">
                <a href="{% url 'play' %}"><button class="profile-button" id="new-game" type="button">New Game</button></a>
        </div>
        <div class="col-sm-3 col-xs-4">
            <a href="/logout/`"><button class="profile-button" id="sign-out" type="button">Sign Out</button></a>
        </div>
    </div>
    <div class="col-xs-12">
        <table id="game-history">
            <tr class="header-row">
                <td width="10%">Game</td>
                <td width="20%">Net Income/Loss</td>
                <td width="10%">Buys to Open</td>
                <td width="10%">Buys to Close</td>
                <td width="10%">Sells to Open</td>
                <td width="10%">Sells to Close</td>
            </tr>
            {% for game in all_games reversed %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="opponent-row-even">
                        <td width="10%">{{ game.game_id }}</td>
                        <td width="30%">{{ game.net_income }}</td>
                        <td width="10%">{{ game.buy_to_open }}</td>
                        <td width="10%">{{ game.buy_to_close }}</td>
                        <td width="10%">{{ game.sell_to_open }}</td>
                        <td width="10%">{{ game.sell_to_close }}</td>
                    </tr>
                {% else %}
                    <tr class="opponent-row">
                        <td width="10%">{{ game.game_id }}</td>
                        <td width="30%">{{ game.net_income }}</td>
                        <td width="10%">{{ game.buy_to_open }}</td>
                        <td width="10%">{{ game.buy_to_close }}</td>
                        <td width="10%">{{ game.sell_to_open }}</td>
                        <td width="10%">{{ game.sell_to_close }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="row">
            <div class="col-md-6">
                <img class="analytics-graph" id="trade-frequency-gaph" src="http://placehold.it/470x300" alt="Trade Type">
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <img class="analytics-graph" id="cumulative-returns" src="http://placehold.it/470x300" alt="Trade Type">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}