{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <a class="pull-right" id="sign-out" href="/logout/">Sign Out</a>
        <a href="/play/"><button class="profile-button pull-right" id="play-game" type="button">Day Trade</button></a>
    </div>
    <div class="col-xs-12">
        <table id="game-history" width="100%">
            <tr class="header-row">
                <td width="30%">Net Income/Loss</td>
                <td width="10%">Cash</td>
                <td width="10%">Margin</td>
                <td width="10%">Shares</td>
                <td width="10%">Stock Value</td>
            </tr>
            <tr class="portfolio-data">
                <td width="30%" id="profile-net-income">{{ net_income }}</td>
                <td width="10%" id="profile-cash">{{ cash }}</td>
                <td width="10%" id="profile-margin">{{ margin }}</td>
                <td width="10%" id="profile-shares">{{ shares }}</td>
                <td width="10%" id="profile-stock-value">{{ stock_value }}</td>
            </tr>
        </table>
    </div>
    <div id="flot-placeholder" style="width:100%;height:500px"></div>
</div>
{% endblock %}
